<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ subject }}</title>


  <style type="text/css">
  body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
 }

 a{
  color:#382F2E;
}

p, h1,h2,ul,ol,li,div{
  margin:0;
  padding:0;
}

h1,h2{
  font-weight: normal;
  background:transparent !important;
  border:none !important;
}

.contentEditable h2.big,.contentEditable h1.big{
  font-size: 26px !important;
}

 .contentEditable h2.bigger,.contentEditable h1.bigger{
  font-size: 37px !important;
}

td,table{
  vertical-align: top;
}
td.middle{
  vertical-align: middle;
}

a.link1{
  font-size:13px;
  color:#27A1E5;
  line-height: 24px;
  text-decoration:none;
}
a{
  text-decoration: none;
}

.link2{
color:#ffffff;
border-top:10px solid #27A1E5;
border-bottom:10px solid #27A1E5;
border-left:18px solid #27A1E5;
border-right:18px solid #27A1E5;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
background:#27A1E5;
}

.link3{
color:#555555;
border:1px solid #cccccc;
padding:10px 18px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
background:#ffffff;
}

.link4{
color:#27A1E5;
line-height: 24px;
}

h2,h1{
line-height: 20px;
}
p{
  font-size: 14px;
  line-height: 21px;
  color:#AAAAAA;
}

.contentEditable li{

}

.appart p{

}
.bgItem{
background: #ffffff;
}
.bgBody{
background: #ffffff;
}



</style>


<script type="colorScheme" class="swatch active">
{
    "name":"Default",
    "bgBody":"ffffff",
    "link":"27A1E5",
    "color":"AAAAAA",
    "bgItem":"ffffff",
    "title":"444444"
}
</script>


</head>
<body paddingwidth="0" paddingheight="0" bgcolor="#d1d3d4"  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style="font-family:Helvetica, sans-serif;">
    <!-- =============== START HEADER =============== -->

  <tr>
    <td align="center">
      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" >
      <tr>
      <td class="bgItem" align="center">
      <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td class="movableContentContainer" align="center">

            <div class="movableContent">
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height="15"></td></tr>
                <tr>
                  <td>
                    <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td width="60">
                          <div class="contentEditableContainer contentImageEditable">
                            <div class="contentEditable">
                            </div>
                          </div>
                        </td>
                        <td width="10"></td>
                        <td valign="middle" style="vertical-align: middle;">
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" style="text-align: left;font-weight: light; color:#555555;font-size:26;line-height: 39px;font-family: Helvetica Neue;">
                              <h1 class="big"><a target="_blank" href="{{ domain }}" style="color:#444444">BashAkkord</a></h1>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr><td height="15"></td></tr>
                <tr><td ><hr style="height:1px;background:#DDDDDD;border:none;"></td></tr>
              </table>
            </div>



<!-- =============== END HEADER =============== -->
<!-- =============== START BODY =============== -->
            <div class="movableContent">
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height="40"></td></tr>
                <tr>
                  <td>
                    <div class="contentEditableContainer contentImageEditable">
                      <div class="contentEditable" style="text-align: center;">
                        {#<img src="{{domain}}{{ asset('/Layouts/Mail/Basic/images/bigImg.jpg') }}" alt="Logo" width="580" height="221" data-default="placeholder" data-max-width="580">#}
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <div class="movableContent">
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height="40"></td></tr>
                <tr>
                  <td style="border: 1px solid #EEEEEE; border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px">
                    <table width="480" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr><td height="25"></td></tr>
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" style="text-align: center;">
                              <h2 style="font-size: 20px;">{% block header1 %}{% endblock %}</h2>
                              <br>
                              <div style="text-align: left">
                              {% block text1 %}{% endblock %}
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height="24"></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>


<!-- =============== END BODY =============== -->
<!-- =============== START FOOTER =============== -->
            <div class="movableContent">
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td colspan="3" height="48"></td></tr>
                <tr>
                  <td width="90"></td>
                  <td width="400"align="center" style="text-align: center;">
                    <table width="400" cellpadding="0" cellspacing="0" align="center">
                      <tr>
                        <td>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" style="text-align: center;color:#AAAAAA;">
                              <!--
                              <p>
                              Sent by [SENDER_NAME] <br/>
                              [CLIENTS.ADDRESS] <br/>
                              [CLIENTS.PHONE] <br/>
                              <a target="_blank" href="[FORWARD]" style="color:#AAAAAA;">Forward to a friend</a> <br/>
                              <a target="_blank" href="[UNSUBSCRIBE]" style="color:#AAAAAA;" >Unsubscribe</a>
                              </p>
                              -->
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width="90"></td>
                </tr>
              </table>
            </div>

            <div class="movableContent">
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td colspan="3" height="40"></td></tr>
                <tr>
                  <td width="195"></td>
                  <td width="190" align="center" style="text-align: center;">
                    <table width="190" cellpadding="0" cellspacing="0" align="center">
                      <tr>
                        <td width="50">
                          <div class="contentEditableContainer contentFacebookEditable">
                            <div class="contentEditable" style="text-align: center;color:#AAAAAA;">
                              <a href="https://www.facebook.com/learning.pr.of.it" target="_blank">
                                {#<img src="{{domain}}{{ asset('/Layouts/Mail/Basic/images/facebook.png') }}" alt="facebook" width="40" height="40" data-max-width="40" data-customIcon="true" >#}
                              </a>
                            </div>
                          </div>
                        </td>
                        <td width="20"></td>
                        <td width="50">
                          <div class="contentEditableContainer contentImageEditable">
                            <div class="contentEditable" style="text-align: center;color:#AAAAAA;">
                              <a href="https://vk.com/learning_profit" target="_blank">
                                {#<img src="{{domain}}{{ asset('/Layouts/Mail/Basic/images/vk.png') }}" alt="VKontakte" width="40" height="40" data-max-width="40">#}
                              </a>
                            </div>
                          </div>
                        </td>
                        <td width="20"></td>
                        <td width="50">
                          <div class="contentEditableContainer contentImageEditable">
                            <div class="contentEditable" style="text-align: center;color:#AAAAAA;">
                              <a href="https://www.linkedin.com/grp/home?gid=8357486" target="_blank">
                                {#<img src="{{domain}}{{ asset('/Layouts/Mail/Basic/images/blue.png') }}" alt="LinkedIn" width="40" height="40" data-max-width="40">#}
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width="195"></td>
                </tr>
                <tr><td colspan="3" height="40"></td></tr>
              </table>
            </div>
<!-- =============== END FOOTER =============== -->
          </td>
        </tr>
      </table>
      </td>
      </tr>
      </table>
    </td>
  </tr>
</table>


  </body>
  </html>
