
<form class="form-horizontal" role="form" action="/user/login" method="post">
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">E-mail</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" required placeholder="e-mail-ығыҙҙын адресын яҙығыҙ" value="{{email}}">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Пароль</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" required placeholder="Паролеғыҙҙы яҙығыҙ">
        </div>
    </div>
    <footer class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Инергә</button>
    </footer>
</form>
<br>
<br>
<hr>
<br>