{% extends 'Index.html' %}

{% block content %}
	<table class="table table-striped   table-hover" >
		<h1>Наша команда</h1>
		<hr>
		<tr >
			<td width="25%"><img height="300px" src="/img/ildar.jpg" alt="ildar"></td>
			<td> <p><a href="https://vk.com/id138942472"><b>Саиткулов Ильдар</b></a></p>
				<p>Создатель, разработчик, подбор аккордов</p>
			</td>

		</tr>
		<tr >
			<td width="25%"><img height="300px" src="/img/Gadel.jpg" alt="Gadel"></td>
			<td> <p><b>Райманов Гадель</b></p>
				<p>Разработчик, подбор аккордов</p>
			</td>

		</tr>
		<tr >
			<td width="25%"><img height="300px"  src="/img/Safuan.jpg" alt="Safuan"></td>
			<td> <p><a href="https://vk.com/yaylyaev"><b>Яйляев Сафуан</b></a></p>
				<p>Главный редактор</p>
			</td>

		</tr>

	</table>
	<hr>
{% endblock %}


{% block  breadcrumb %}
	<li><a href="/about">Беҙҙең турала мәғлүмәт</a></li>
{% endblock %}