<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Аккорды башкирских песен под гитару</title>

  <!-- Bootstrap -->

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <link rel="shortcut icon" href="/img/icon.png" type="image/png">

  <!-- Custom Fonts -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>



<nav class="navbar navbar-default  ">


  <div class="container" style="text-align: center;">
    <div class="row container">
      <div class="col-md-4 ">
        <form action="/artist/findByLetters" class="navbar-form navbar-left search" role="search" method="post">
          <div class="form-group">
            <input name="firstLetters" type="text" class="form-control" placeholder="Сайт буйынса эҙләү">
          </div>
          <button type="submit" class="btn btn-success">Табырға</button>
        </form>
      </div>
      <div class="col-md-4 col-sm-4 gitar">
        <a href="/"><img class="img-responsive"  src="/img/Brand.png" alt="Brand"></a>
      </div>
      <div class="col-md-4 col-sm-4">
        <ul class=" enter">
          {% if not app.user %}
            <li><a href="/user/login"><i class="fa fa-sign-in"></i> Сайтҡа инеү</a></li>
            <li><a href="/user/register" ><i class="fa fa-user-plus"></i> Сайтта теркәлеү</a></li>
          {% else %}
            <li><a href="/user/logout.html"><i class="fa fa-sign-out"></i>Сайттан сығыу</a></li>
            {% if app.user.hasRole('admin') %}
              <li class="divider"><a href="/admin"><i class="fa  fa-wrench"></i>Админ-панель</a></li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>

  </div><!-- /.container-fluid -->
</nav>

<div  class="container container__pagination">
  <ul class="pagination pag1">
    <li><a href="/artist/find?letter=А%">А</a></li>
    <li><a href="/artist/find?letter=Б%">Б</a></li>
    <li><a href="/artist/find?letter=В%">В</a></li>
    <li><a href="/artist/find?letter=Г%">Г</a></li>
    <li><a href="/artist/find?letter=Ғ%">Ғ</a></li>
    <li><a href="/artist/find?letter=Д%">Д</a></li>
    <li><a href="/artist/find?letter=Ҙ%">Ҙ</a></li>
    <li><a href="/artist/find?letter=Е%">Е</a></li>
    <li><a href="/artist/find?letter=Ж%">Ж</a></li>
    <li><a href="/artist/find?letter=З%">З</a></li>
    <li><a href="/artist/find?letter=И%">И</a></li>
    <li><a href="/artist/find?letter=Й%">Й</a></li>
    <li><a href="/artist/find?letter=К%">К</a></li>
    <li><a href="/artist/find?letter=Ҡ%">Ҡ</a></li>
  </ul>
  <ul class="pagination pag1">

    <li><a href="/artist/find?letter=Л%">Л</a></li>
    <li><a href="/artist/find?letter=М%">М</a></li>
    <li><a href="/artist/find?letter=Н%">Н</a></li>
    <li><a href="/artist/find?letter=О%">О</a></li>
    <li><a href="/artist/find?letter=Ө%">Ө</a></li>
    <li><a href="/artist/find?letter=П%">П</a></li>
    <li><a href="/artist/find?letter=Р%">Р</a></li>
    <li><a href="/artist/find?letter=С%">С</a></li>
    <li><a href="/artist/find?letter=Т%">Т</a></li>
    <li><a href="/artist/find?letter=У%">У</a></li>
    <li><a href="/artist/find?letter=Ү%">Ү</a></li>
    <li><a href="/artist/find?letter=Ф%">Ф</a></li>
    <li><a href="/artist/find?letter=Х%">Х</a></li>
    <li><a href="/artist/find?letter=Һ%">Һ</a></li>
    <li><a href="/artist/find?letter=Ч%">Ч</a></li>
    <li><a href="/artist/find?letter=Ш%">Ш</a></li>
    <li><a href="/artist/find?letter=Ы%">Ы</a></li>
    <li><a href="/artist/find?letter=Э%">Э</a></li>
    <li><a href="/artist/find?letter=Ә%">Ә</a></li>
    <li><a href="/artist/find?letter=Ю%">Ю</a></li>
    <li><a href="/artist/find?letter=Я%">Я</a></li>
  </ul>

</div>




<div class="container" style="text-align: center;">
  <div class="main_panel">
    <ul class="nav nav-pills">
      <li role="presentation" ><a href="/">Төп бит<span class="glyphicon glyphicon-home"></span></a></li>
      <li role="presentation" ><a href="/songs">Йырҙар<span class="glyphicon glyphicon-music"></span></a></li>
      <li role="presentation"><a href="/artists">Башҡарыусылар<span class="glyphicon glyphicon-user"></span></a></li>
      <li role="presentation"><a href="/songs/famous">Популяр йырҙар<span class="glyphicon glyphicon-star"></span></a></li>
      <li role="presentation"><a href="/order">Аккордтар менән ярҙам<span class="glyphicon glyphicon-edit"></span></a></li>
      <li>
      </li>

    </ul>
  </div>

</div>

<div class="container">
  <ul class="breadcrumb" style="background-color: transparent;">
    <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
    {% block  breadcrumb %}
      <li><a href="/">Яңылыҡтар</a></li>
    {% endblock %}
  </ul>
  <hr>
  <div class=" row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">


      {% block content %}


      {% endblock %}

    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<footer class="footer" >
  <div class="container" style="text-align: center;">
    <span>&copy; BashAkkord 2016  </span>
    <div  ><a href="/about">Беҙҙең турала мәғлүмәт<span class="glyphicon glyphicon-info-sign"></span></a></div>
    <div>Почта: support@bashakkord.ru</div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="/js/jquery-1.11.3.js"></script>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

<script src="/js/bootstrap.min.js"></script>
{% block pagescript %}{% endblock %}

</body>
</html>