{% extends "Mail/Basic/index.html" %}

{% block header1 %}Вам создан пароль на сайте Академии программирования ProfIT{% endblock %}

{% block text1 %}
<p>Здравствуйте!</p>
<p>Вы зарегистрировались на сайте Академии программирования &laquo;ProfIT&raquo;. Ваш пароль: <b>{{ password }}</b></p>
<p>Пожалуйста, не сообщайте никому Ваш пароль. В случае проблем с входом - обращайтесь в службу поддержки.</p>
{% endblock %}

{% block subheader11 %}{% endblock %}
{% block subtext11 %}
{% endblock %}
{% block subclick11text %}{% endblock %}
{% block subclick11url %}{% endblock %}

{% block subheader12 %}{% endblock %}
{% block subtext12 %}
{% endblock %}
{% block subclick12text %}{% endblock %}
{% block subclick12url %}{% endblock %}

{% block second %}{% endblock %}